<footer class="row footer" id="footer">

	<div class="col-sm-6">
		by <a href="mailto:mail@mail.es">NombreAutor</a>
		<small class="text-muted"> | </small>
		&copy; Copyright 2015
	</div>

	<div class="col-sm-6">
		<p class="pull-right">
			<a href="http://mde.dlsi.ua.es/cursoangularjs">Curso AngularJS</a>
		</p>
	</div>

</footer>
