<nav class="navbar navbar-blue navbar-static-top">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a href="" class="navbar-brand logo">
			<img src="assets/logo.png" alt="Logo"/>
		</a>
		<a href="" class="navbar-brand brand-login">
			caralibro
		</a>
	</div>

	<div class="collapse navbar-collapse" role="navigation">

		<form class="navbar-form navbar-right" ng-submit="publicCtrl.doLogin()">
			<div class="form-group">
				<input type="text" class="form-control"
				       placeholder="Nombre usuario"
				       ng-model="publicCtrl.loginUsername"
				       required>
			</div>
			<div class="form-group">
				<input type="password" class="form-control"
				       placeholder="Contraseña"
				       ng-model="publicCtrl.loginPassword"
				       required>
			</div>
			<button type="submit" class="btn btn-default">Acceder</button>
		</form>

	</div>

</nav>
