<nav class="navbar navbar-blue navbar-static-top">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="" class="navbar-brand logo">
			<img src="assets/logo.png" alt="Logo"/>
		</a>
	</div>

	<div class="collapse navbar-collapse" role="navigation">

		<form class="navbar-form navbar-left" role="search" ng-submit="privateCtrl.search()">
			<div class="input-group input-group-sm" style="max-width:360px;">
				<input type="text" class="form-control" placeholder="Buscar usuarios" ng-model="privateCtrl.searchQuery" required>
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</div>
			</div>
		</form>

		<ul class="nav navbar-nav">
			<li>
				<a ui-sref="private.me">
					<span class="glyphicon glyphicon-home"></span> {{privateCtrl.currentName}}
				</a>
			</li>
			<li>
				<a href="#postModal" role="button" data-toggle="modal">
					<span class="glyphicon glyphicon-plus"></span> Publicar
				</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="" ng-click="privateCtrl.logout()">Salir</a></li>
				</ul>
			</li>
		</ul>

	</div>

</nav>
