<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				Update Status
			</div>

			<div class="modal-body">
				<form class="form center-block">
				<div class="form-group">
				<textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
				</div>
				</form>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">
					Post
				</button>
				<ul class="pull-left list-inline">
					<li><a href=""><span class="glyphicon glyphicon-upload"></span></a></li>
					<li><a href=""><span class="glyphicon glyphicon-camera"></span></a></li>
					<li><a href=""><span class="glyphicon glyphicon-map-marker"></span></a></li>
				</ul>
			</div>

		</div>
	</div>
</div>
