<ul class="nav">
	<li>
		<a href="" onclick="offcanvasClick(this)" data-toggle="offcanvas" class="visible-xs text-center">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
</ul>

<ul class="nav hidden-xs" id="lg-menu">
	<li ui-sref-active="active">
		<a ui-sref="private.all">
			<span class="glyphicon glyphicon-list"></span> Todos
		</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="private.me">
			<span class="glyphicon glyphicon-home"></span> {{privateCtrl.currentName}}
		</a>
	</li>
	<li>
		<a href="" ng-click="privateCtrl.refresh()">
			<span class="glyphicon glyphicon-refresh"></span> Refrescar
		</a>
	</li>
</ul>


<ul class="list-unstyled hidden-xs" id="sidebar-footer">
	<li>
		<h3>caralibro</h3>
	</li>
</ul>

<!-- tiny only nav-->
<ul class="nav visible-xs" id="xs-menu">
	<li>
		<a href="" class="text-center">
			<span class="glyphicon glyphicon-list-alt"></span>
		</a>
	</li>
	<li>
		<a href="" class="text-center">
			<span class="glyphicon glyphicon-list"></span>
		</a>
	</li>
	<li>
		<a href="" class="text-center">
			<span class="glyphicon glyphicon-paperclip"></span>
		</a>
	</li>
	<li>
		<a href="" class="text-center">
			<span class="glyphicon glyphicon-refresh"></span>
		</a>
	</li>
</ul>
