<div class="box">
	<div class="row row-offcanvas row-offcanvas-left">
		<!-- Sidebar -->
		<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
			<div class="fix-sidebar" ng-include="'app/partials/sidebar.html'"></div>
		</div>

		<!-- Right main col -->
		<div class="column col-sm-10 col-xs-11" id="main">

			<!-- Top nav -->
			<div class="fix-navbar" ng-include="'app/partials/navbar-private.html'"></div>


			<div class="padding">
				<div class="full col-sm-9">

					<!-- content -->
					<div ui-view autoscroll></div>

					<!-- Footer -->
					<div ng-include="'app/partials/footer.html'"></div>

				</div>
			</div>
		</div>
	</div>
</div>
