<div class="row">

	<!-- User personal information -->
	<div class="col-sm-5">

		<div class="panel panel-default">
			<div class="panel-thumbnail">

				<img ng-if="profileCtrl.user.get('photo')"
				     ng-src="{{profileCtrl.user.get('photo').url()}}"
				     class="img-responsive center-block">

				<img ng-if="!profileCtrl.user.get('photo')"
				     src="assets/none.png"
				     class="img-responsive center-block">

			</div>
			<div class="panel-body">
				<div class="pull-right"
				     cl-photo-reader="profileCtrl.changeProfilePhoto">
					<button class="btn btn-primary" ng-show="profileCtrl.isMyProfile">
						<span class="glyphicon glyphicon-camera"></span>
					</button>
				</div>
				<p class="lead">{{profileCtrl.user.get('name')}} {{profileCtrl.user.get('surnames')}}</p>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<button class="btn pull-right"
				        ng-class="{
				            'btn-default' : !profileCtrl.isEditingAbout,
				            'btn-primary' : profileCtrl.isEditingAbout
				        }"
						ng-show="profileCtrl.isMyProfile"
						ng-click="profileCtrl.doEditAbout()">
					{{profileCtrl.isEditingAbout ? "Guardar" : "Editar"}}
				</button>
				<h4><span class="glyphicon glyphicon-user"></span> Sobre mi</h4>
			</div>
			<div class="panel-body" ng-if="!profileCtrl.isEditingAbout">
				<span ng-hide="profileCtrl.user.get('about')">
					<em>No hay descripción.</em>
				</span>
				<span ng-show="profileCtrl.user.get('about')"
				      ng-bind-html="profileCtrl.user.get('about') | textToHtml">
				</span>
			</div>
			<div class="panel-body" ng-if="profileCtrl.isEditingAbout">
				<textarea class="form-control" rows="10"
				          ng-model="profileCtrl.newAbout"></textarea>
			</div>
		</div>

	</div>

	<!-- Posts from user -->
	<div class="col-sm-7">

		<div class="well" ng-if="profileCtrl.isMyProfile">
			<form class="form-horizontal" role="form" ng-submit="profileCtrl.doCreatePost()">
				<h4>Qué hay de nuevo</h4>
				<div class="form-group" style="padding:14px;">
					<textarea class="form-control"
					          ng-model="profileCtrl.newPostMessage"
					          placeholder="Actualiza tu estado..." required></textarea>
				</div>
				<button class="btn btn-primary pull-right" type="submit">Publicar</button>
				<ul class="list-inline">
					<li cl-photo-reader="profileCtrl.selectPostPhotoFile">
						<a href=""><span class="glyphicon glyphicon-camera"></span></a>
					</li>
					<li>{{profileCtrl.newPostPhotoName}}</li>
				</ul>
			</form>
		</div>

		<div cl-posts
		     post-list="profileCtrl.postList"
		     has-more-posts="profileCtrl.hasMorePosts"
		     load-more="profileCtrl.loadMore()"></div>

	</div>
</div>
