<div class="well">

	<div class="row">

		<div class="col-sm-4">
			<img src="assets/social.jpg" class="center-block img-thumbnail">
		</div>

		<div class="col-sm-8">
			<form name="registerForm" ng-submit="registerCtrl.doRegister(registerForm)" novalidate>

				<h2>¡Regístrate en <em>caralibro</em>!</h2>
				<br/>

				<h3>Información personal</h3>

				<div class="form-group"
				     ng-class="{ 'has-error has-feedback' : registerForm.$submitted && registerForm.name.$invalid }">
					<input type="text" class="form-control" name="name"
					       ng-model="registerCtrl.registerName"
					       placeholder="Nombre" required>
					<span ng-if="registerForm.$submitted && registerForm.name.$invalid"
					      class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<small ng-if="registerForm.$submitted && registerForm.name.$error.required"
					       class="help-block">El nombre no puede estar vacío.</small>
				</div>

				<div class="form-group"
				     ng-class="{ 'has-error has-feedback' : registerForm.$submitted && registerForm.surnames.$invalid }">
					<input type="text" class="form-control" name="surnames"
					       ng-model="registerCtrl.registerSurnames"
					       placeholder="Apellidos" required>
					<span ng-if="registerForm.$submitted && registerForm.surnames.$invalid"
					      class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<small ng-if="registerForm.$submitted && registerForm.surnames.$error.required"
					       class="help-block">El campo de apellidos no puede estar vacío.</small>
				</div>

				<h3>Información de acceso</h3>

				<div class="form-group"
				     ng-class="{ 'has-error has-feedback' : (registerForm.$submitted && registerForm.username.$invalid)
				                                            || (!registerForm.username.$pending && registerForm.username.$error.usernameExists) }">
					<input type="text" class="form-control" name="username"
					       ng-model="registerCtrl.registerUsername"
					       ng-model-options="{ debounce: 500 }"
					       placeholder="Usuario" required username-exists>
					<span ng-if="registerForm.$submitted && registerForm.username.$invalid"
					      class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<small ng-if="registerForm.$submitted && registerForm.username.$error.required"
					       class="help-block">Introduce un nombre de usuario para acceder a caralibro.</small>
					<small ng-if="registerForm.username.$error.usernameExists"
					       class="help-block">El nombre de usuario "{{registerForm.username.$viewValue}}" ya existe.</small>
					<small ng-if="registerForm.username.$pending"
					       class="help-block">Comprobando nombre de usuario "{{registerForm.username.$viewValue}}" ...</small>
				</div>

				<div class="form-group"
				     ng-class="{ 'has-error has-feedback' : registerForm.$submitted && registerForm.password.$invalid }">
					<input type="password" class="form-control" name="password"
					       ng-model="registerCtrl.registerPassword"
					       placeholder="Contraseña" required minlength="6">
					<span ng-if="registerForm.$submitted && registerForm.password.$invalid"
					      class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<small ng-if="registerForm.$submitted && registerForm.password.$error.required"
					       class="help-block">Introduce la contraseña.</small>
					<small ng-if="registerForm.$submitted && registerForm.password.$error.minlength"
					       class="help-block">Introduce al menos 6 caracteres.</small>
				</div>

				<div class="form-group"
				     ng-class="{ 'has-error has-feedback' : registerForm.$submitted && registerForm.password2.$invalid }">
					<input type="password" class="form-control" name="password2"
					       ng-model="registerCtrl.registerPassword2"
					       placeholder="Repetir contraseña" required minlength="6">
					<span ng-if="registerForm.$submitted && registerForm.password2.$invalid"
					      class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<small ng-if="registerForm.$submitted && registerForm.password2.$error.required"
					       class="help-block">Introduce de nuevo la contraseña.</small>
					<small ng-if="registerForm.$submitted && registerForm.password2.$error.minlength"
					       class="help-block">Introduce al menos 6 caracteres.</small>
				</div>

				<button type="submit" class="btn btn-primary pull-right">Registrarse</button>
				<div class="clearfix"></div>

			</form>
		</div>

	</div>

</div>
