<div class="box">
	<div class="row">
		<div class="column col-xs-12" id="main">

			<!-- Top nav (login) -->
			<div class="fix-sidebar"  ng-include="'app/partials/navbar-public.html'"></div>

			<!-- Content -->
			<div class="row padding">
				<div class="full col-md-12">
					<div ui-view></div>
				</div>
			</div>

			<!-- Footer -->
			<div ng-include="'app/partials/footer.html'"></div>

		</div>
	</div>
</div>
