<div class="panel panel-default" ng-repeat="post in postList">

	<!-- Author info -->
	<div class="panel-heading">
		<h4>
			<a ui-sref="private.profile({userId:post.get('author').id})">
				<img ng-if="post.get('author').get('photo')"
				     ng-src="{{post.get('author').get('photo').url()}}"
				     width="28px" height="28px">

				<img ng-if="!post.get('author').get('photo')"
				     src="assets/none.png"
				     width="28px" height="28px">

				{{post.get('author').get('name')}} {{post.get('author').get('surnames')}}
			</a>
			<time class="small" datetime="{{post.createdAt.toLocaleString()}}">
				{{post.createdAt | dateToWords}}
			</time>
		</h4>
	</div>

	<!-- Post message -->
	<div class="panel-body">
		<div ng-if="post.get('photo')" class="panel-thumbnail post-photo">
			<img ng-src="{{post.get('photo').url()}}" class="img-responsive center-block">
		</div>

		<hr ng-if="post.get('photo')">

		<p>
			{{post.get('message')}}
		</p>
	</div>

</div>

<button class="btn btn-primary center-block"
        ng-if="hasMorePosts"
        ng-click="loadMore()()">
	Cargar más
</button>

<button class="btn btn-danger center-block"
        ng-if="!hasMorePosts"
        disabled="disabled">
	<em>No hay más publicaciones.</em>
</button>

<br/><br/>
